{% extends 'base/main.html' %}
{% load static  %}
{% block content %}
<!--
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h2 style="writing-mode: sideways-lr; -webkit-writing-mode: sideways-lr;
  -ms-writing-mode: sideways-lr; color: maroon; font-family: 'Josefin Slab', serif;
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap'); position: absolute; padding-top: 150px; padding-left: 180px;" >About</h2>

        </div>
        <div class="col-md-10">

            <p style="padding-left: 500px; padding-top: 120px;">Hello!!!</p>
            <p style="padding-left: 500px; ">Durwa here,</p>
            <p style="padding-left: 500px;">An eternally creative soul,woulf love for you to get me know better.</p>
            <p style="padding-left: 500px;">Combining my experience as an Artist, Graphic designer, photographer</p>
            <p style="padding-left: 500px;">and a Explorer.</p>
            <p style="padding-left: 500px;">For me it's all about inspiration to be most creative.</p>
            <p style="padding-left: 500px;">It's my pleasure to share my creative with this amazing community out here.</p>
            <img src="{% static 'images/about/durva.jpeg' %}" class="rounded float-end" alt="...">
        </div>
    </div>

</div>
-->

<!--
<div class="container" style="width:90%; max-width:1000px; margin:0 auto; display:flex; align-items:center; justify-content: center;">
    <div class="left" style="width:500px; height: 600px;  ">
        <img src="{% static 'images/about/durva.jpeg' %}"class="rounded float-end" alt="...">
    </div>

    <div class="left" style="width:50%; min-height:400px; display: flex; align-items: center; justify-content: center; margin-right: -150px; padding:30px; ">
        <div class="content">
           <p>Hello!!!</p>
        <p>Durwa here,</p>
        <p>An eternally creative soul,woulf love for you to get me know better.</p>
        <p>Combining my experience as an Artist, Graphic designer, photographer</p>
        <p>and a Explorer.</p>
        <p>For me it's all about inspiration to be most creative.</p>
        <p>It's my pleasure to share my creative with this amazing community out here.</p>

        </div>

    </div>
</div>
-->
<!--
<section class="" style="min-height: 100vh; width: 100% align-items:center; justify-content:center; ">
    <div class="container" style="width:90%; max-width:1000px; margin:0 auto; display:flex; align-items:center; justify-content: center;">
    <div class="left" style="width:40%; height: 600px;  ">
        <img src="{% static 'images/about/durva.jpeg' %}"class="rounded float-end" style="width:130%;" alt="...">
    </div>

    <div class="left" style="width:50%; min-height:-100px;display: flex;  margin-left: -150px; padding:30px; ">
        <div class="content" style="">

           <h2 style="font-family: 'Bree Serif', serif; @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap'); color:maroon"><strong>Hello!!!</strong></h2>
            <h4 style="font-family: 'Bree Serif', serif; @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap'); color:maroon">Its good to see you here.</h4>
            <p style="font-family: 'Bree Serif', serif; @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');color:#841617">
                <weak>Durwa is an eternally creative soul with a combination of
                An Artist, Graphic designer,Video editor,Photographer and an Explorer.
                Her style is characterized by strong colors,motions,varied interests
                    have given an open-minded, resourceful and hands-on approach to
                    the work.
                </weak>
            </p>
        </div>

    </div>
</div>
</section>
-->



<section class="" style="min-height: 100vh; width: 100% align-items:center; justify-content:center; ">
<div class="container mt-3" style="width:50%; max-width:900px; margin:0 auto; display:flex; align-items:center; justify-content: center;">
      <div class="left" style="width:50%; min-height:500px; display: flex; margin-left: -110px; padding:20px; ">
        <div class="content">
			<p class="containerbackground" style=" font-family: 'Yesteryear', cursive; @import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');

			margin: 3rem;
            position: absolute;
            top: 150px;
            font-size: 40px;
  			left: 580px;
            color: #6B8E23;
            transform: rotate(-90deg);
            "><lead>
            	Create</lead>
       		 </p>
		   <h2 style="top: 130px; left: 100px; font-weight: 10; position: relative;  font-family: 'Bree Serif', serif; @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap'); color:maroon">
               <strong>Hello!!!</strong></h2>
		   <h4 style="top: 135px; left: 100px;  position: relative;  font-family: 'Bree Serif', serif; @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap'); color:maroon">
               Its good to see you here.</h4>
            <p style="top: 137px;left: 100px; font-weight: 10; position: relative;  font-family: 'Bree Serif', serif; @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap'); color:#841617;">
            <weak>Durwa is an eternally creative soul with a combination of
                An Artist, Graphic designer,Video editor,Photographer and an Explorer.
                Her style is characterized by strong colors,motions,varied interests
                    have given an open-minded, resourceful and hands-on approach to
                    the work.
                </weak>
            </p>
        </div>
    </div>
    <div class="left" style="width:40%; height: 600px; ">
        <img src="{% static 'images/about/durva.jpeg' %}"class="rounded float-end" style="width:120%;" alt="...">
    </div>
</div>
</section>
{% endblock content %}