{% extends 'base/main.html' %}

{% block content %}

<h2 style="writing-mode: sideways-lr; -webkit-writing-mode: sideways-lr;
  -ms-writing-mode: sideways-lr; color: maroon; font-family: 'Josefin Slab', serif;
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap'); position: absolute; padding-top: 150px; padding-left: 180px;" >About</h2>


<p style="padding-left: 500px; padding-top: 120px;">Hello!!!</p>
<p style="padding-left: 500px; ">Durwa here,</p>
<p style="padding-left: 500px;">An eternally creative soul,woulf love for you to get me know better.</p>
<p style="padding-left: 500px;">Combining my experience as an Artist, Graphic designer, photographer</p>
<p style="padding-left: 500px;">and a Explorer.</p>
<p style="padding-left: 500px;">For me it's all about inspiration to be most creative.</p>
<p style="padding-left: 500px;">It's my pleasure to share my creative with this amazing community out here.</p>
{% endblock content %}