{% extends 'base/main.html' %}

{% block content %}

<div id="page-wrapper" style="height:100%; display:flex; justify-content:center; align-items:center; text-align:center; margin-top:100px;">
    <div id="success-box" style="max-width:600px; height:auto; background-color: #fff; border: 1px solid #888; border-radius: 5px; padding:15px; " class="content-block">
        <h1 style="color:#87A96B;">Thanks for reaching out!!</h1>
        <p style="">Your message was successfully sent. I will get back to you in timely manner :)</p>
        <a id="back-btn" class="btn btn-light" href="{% url 'home' %}" style="color:#87A96B;">BACK TO HOME PAGE</a>
    </div>
</div>

{% endblock content %}