<div class="container">
  <div class="row">
    <div class="col">
      <ul class="nav nav-fill mt-4">
        <li class="nav-item ">
          <a class="nav-link " style="color: maroon; font-family: 'Josefin Slab', serif;
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap'); " href="{% url 'home' %}"><strong>Home</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: maroon; font-family: 'Josefin Slab', serif;
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap'); " href="{% url 'about' %}"><strong>About</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: maroon; font-family: 'Josefin Slab', serif;
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');
     " href="{% url 'studio' %}"><strong>The Studio</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: maroon; font-family: 'Josefin Slab', serif;
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap'); " href="{% url 'blog' %}"><strong>Blog</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: maroon; font-family: 'Josefin Slab', serif;
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap'); " href="{% url 'contact' %}"><strong>Contact</strong></a>
        </li>
      </ul>
    </div>
  </div>
</div>

