<!--
<div class="container">
  <div class="row">
    <div class="col">
      <ul class="nav nav-fill mt-4">
        <li class="nav-item ">
          <a class="nav-link " style="color: maroon; font-family: 'Josefin Slab', serif;
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap'); " href="{% url 'home' %}"><strong>Home</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: maroon; font-family: 'Josefin Slab', serif;
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap'); " href="{% url 'about' %}"><strong>About</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: maroon; font-family: 'Josefin Slab', serif;
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');
     " href="{% url 'studio' %}"><strong>The Studio</strong></a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" style="color: maroon; font-family: 'Josefin Slab', serif;
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap'); " href="{% url 'blog' %}"><strong>Blog</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: maroon; font-family: 'Josefin Slab', serif;
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap'); " href="{% url 'contact' %}"><strong>Contact</strong></a>
        </li>
      </ul>
    </div>
  </div>
</div>
-->

<div class="container">
  <div class="row">
    <div class="col">
      <ul class="nav nav-fill mt-4">
        <li class="nav-item ">
          <a class="nav-link " style="color: maroon; font-family: 'Josefin Slab', serif;
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap'); " href="{% url 'home' %}"><strong>Home</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: maroon; font-family: 'Josefin Slab', serif;
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap'); " href="{% url 'about' %}"><strong>About</strong></a>
        </li>
        <li class="nav-item" >
          <!-- Example split danger button -->
         <div class="btn-group">
            <button type="button" class="btn btn-Transparent" style="color: maroon; font-family: 'Josefin Slab', serif;
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap'); "><strong>The Studio</strong></button>
            <button type="button" class="btn btn-Transparent dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"  aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" style="color: maroon; font-family: 'Josefin Slab', serif;
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap'); " href="{% url 'doodledesign' %}"><strong>Doodle Design</strong></a></li>
              <li><a class="dropdown-item" style="color: maroon; font-family: 'Josefin Slab', serif;
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap'); " href="{% url 'doodlebites' %}"><strong>Doodle Bites</strong></a></li>
              <li><a class="dropdown-item" style="color: maroon; font-family: 'Josefin Slab', serif;
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap'); " href="{% url 'motion' %}"><strong>Doodle Motion</strong></a></li>
            </ul>
          </div>



        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: maroon; font-family: 'Josefin Slab', serif;
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap'); " href="{% url 'contact' %}"><strong>Contact</strong></a>
        </li>
      </ul>
    </div>
  </div>
</div>

